#ecranRoot{
    -fx-background-image: url("ressources/decor/fond_banquise.jpg");
    -fx-background-repeat: stretch;  
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}


/*	Images Background	*/
/*
#iceberg{
	-fx-opacity : 0.6;
	;
}
#persos{
	-fx-opacity : 0.8;
}*/